body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1{
    font-size: 562.5%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    
    color: #66BFBF;
}
h2{
    margin-top: 10;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
h3{
   color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.TopContainer{
    
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative; 
}

.p{
    line-height: 2;
}
.middle-container{
    
    margin-bottom: 50px;
   
}
.bottom-container {
    background-color: #66BFBF;
    padding: 100px 0 20px;
   
}
hr{
    
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width:5px;
    width: 10%;

}
.box{
    text-decoration: underline;
}

.topcloud{
    position: relative;
    left: 300px;
}
.bottomcloud{
    position: absolute;
}
.myimage{
    margin-top: 80px;
    height: 250px;
 width: 250px;
   

}
.intro{
    font-size: 20px;;
}
.skill{
    border-radius: 50%;
    height: 200px;
 width: 200px;
}
.projectsimages{
    border-radius: 50%;
    height: 200px;
 width: 200px;
 float: right;
 margin: auto 100px auto 100px ;
}
.proj{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}
.pro{
    font-size: 30px;
}
.getintouch{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.get{
    
    width: 100px;
    
}
a:hover{
    color:#EAF6F6;
}
a{
    margin :10px 20px;
    color: #11999E;
}
.copyright{
    color:#EAF6F6;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4cd);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4cd);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4cd);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4cd);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4cd);
    text-decoration: none;
  }